/* static effect, reference https://css-tricks.com/making-static-noise-from-a-weird-css-gradient-bug/ */
html {
    background: 
      /* repeating-radial-gradient(#fff 0 0.0001%,#0F1224 0 0.009%) 50% 0/2500px 2500px, */
      repeating-conic-gradient(#fff 0 0.0001%,#0F1224 0 0.07%) 60% 60%/2500px 2500px;
    background-blend-mode: difference;
    animation: b .2s infinite alternate;
  }
  @keyframes b{
    100% {background-position: 50% 0, 60% 50%}
  }

body {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Jost', sans-serif;
    background-color: #0F1224;
  }