<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../assets/misc/favicon.ico">
    <link rel="stylesheet" href="../assets/css/basic.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <title>kae's lunar vessel</title>
</head>