<h6>
    <a href="/main/">home</a><br />
    <a href="/about/">about</a><br />
    <a href="/art/">art</a><br />
    <a href="/diary/">diary</a><br />
    <a href="/interesting/">interesting</a><br />
    <a href="/yap/">yap</a><br />
</h6>
<button id="crttoggle" type="button" class="btn btn-secondary btn-sm my-2">
    toggle scanline
</button>
<div class="stickers my-2">
    <img src="../assets/misc/crap.gif" />
    <img src="../assets/misc/sucks.gif" />
    <img src="../assets/misc/keroppi.gif" />
    <img src="../assets/misc/dogrun2.gif" />
    <img src="../assets/misc/wii.gif" />
    <img src="../assets/misc/mariokart.png" />
</div>